<div class="wrapper">
    <div class="top">
        <div class="time">
            <span>Current: 07:00 - 10:15</span>
        </div>
        <span>AI - DTKE95</span>
    </div>
    <div class="middle">
        <div class="from">
            <h2>FROM</h2>
            <span>18-11-2013</span>
        </div>
        <div class="to">
            <h2>To</h2>
            <span>28-12-2013</span>
        </div>
    </div>
    <div class="bottom">
        <a href="#">
            <span>Diem danh</span>
        </a>
        <a href="#">
            <span>Chi tiet</span>
        </a>
    </div>
</div>